h5{
    font-weight: bolder;
    color: #2699fb;
}

p{
    color: #2699fb;
}

ion-item{
    --background: #bce0fd;
}

ion-title{
    color: #2699fb;
    font-weight: bolder;
    font-size: 2.5em;
}

ion-back-button{
    color: #2699fb;
}